.myLoader {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 3px dashed teal;
   animation: rotate 1s infinite linear;
}

@keyframes rotate {
   0%{
      transform: rotate(0deg) scale(1);
   }
   50%{
      transform: rotate(180deg) scale(1.3);
   }
   100%{
      transform: rotate(360deg) scale(1);
   }
}